.btn {
  cursor: pointer;
}
body {
  color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}
.css-clock {
  font-size: 50px;
  padding-bottom: -20px;
}
.bgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.js-form form {
  font-size: 20px;
}
